{% extends 'base.html.twig' %}

{% block title %}Hello PictureController!{% endblock %}

{% block body %}

<h1>Liste des photos enregistrées</h1>

<a href="{{ path('app_picture_create') }}" class="btn btn-danger">Envoyer une photo</a>

<div class="row gap-2 mt-5">

    {% for picture in pictures %}
    
        <div class="card col-2">
            <img src="{{ asset('uploads/pictures/' ~ picture.filename) }}" class="card-img-top" alt="">
            <div class="card-body">
                <figure>
                    <blockquote class="blockquote">
                        <p>Nom du Pokémon</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Prise par...
                        <cite title="Source Title">le...</cite>
                    </figcaption>
                </figure>
            </div>
        </div>

    {% endfor %}

</div>

{% endblock %}
