{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {# The map must have a defined height #}
        {{ ux_map(map, { style: 'height: 300px', id: 'events-map', class: 'mb-3' }) }}
    </div>
{% endblock %}