{% extends 'base.html.twig' %}

{% block title %}Ajouter un Pokémon{% endblock %}

{% block body %}

<div class="row justify-content-center">

    <div class="col-12 col-md-6 col-lg-5">

        <div class="card shadow-sm">

            <div class="card-header bg-danger text-white">
                <h3>Ajouter un Pokémon</h3>
            </div>

            <div class="card-body">
                <form action="{{ path('app_pokemon_create') }}" method='POST'>

                    <div class="mb-3">
                        <label for="name" class="form-label">Nom du Pokémon</label>
                        <input type="text" class="form-control" id="name" placeholder="Pikachu" name="name" required>
                    </div>

                    <div class="mb-3">
                        <label for="number" class="form-label">Numéro Pokédex national</label>
                        <input type="number" class="form-control" id="number" placeholder="25" name="number" required>
                    </div>

                    <button type="submit" class="btn btn-danger">Ajouter</button>

                </form>
            </div>
        </div>

    </div>

</div>

{% endblock %}