{% extends 'base.html.twig' %}

{% block title %}Liste des Pokémons{% endblock %}

{% block body %}

    <div class="row mt-2">
    {% for pokemon in pokemonList %}

        <twig:BootstrapCard 
            class="col-3"
            title="{{ pokemon.name }}"
            img="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{ pokemon.number }}.png"
            actions="{{ [
                { label: 'Détails', link: path('app_pokemon_show', { id: pokemon.id }), type: 'info' },
                { label: 'Modifier', link: path('app_pokemon_update', { id: pokemon.id }), type: 'warning' }
            ] }}"
        >
        
            <span class="badge text-bg-info rounded-pill">#{{ pokemon.number|fill_number('0', 3) }}</span>
            <span class="badge text-bg-primary rounded-pill">{# pokemon.type #}</span>

        </twig:BootstrapCard>

    {% endfor %}
    </div>

{% endblock %}
