{% extends 'base.html.twig' %}

{% block title %}Informations utilisateur{% endblock %}

{% block body %}

<h1>Gestion des utilisateurs</h1>

<twig:BootstrapButton type="secondary" link="{{ path('app_user') }}" text="Retour à la liste" />

<div class="mt-5">
    {{ form(userForm) }}
</div>

{% endblock %}